# Quiz

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!pip install --upgrade xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (2.0.1)

In [ ]:
Energy = pd.read_excel('Energy Indicators.xls')
Energy = Energy.rename(columns={'Unnamed: 2': 'Country', 'Unnamed: 3': 'Energy Supply', 'Unnamed: 4': 'Energy Supply per Capita', 'Unnamed: 5': '% Renewable'})
cols = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
Energy = Energy[cols] # We don't want the first 2 columns
Energy = Energy.iloc[17:244] # From Afghanistan till Zimbabwe
Energy = Energy.reset_index(drop=True) # Index starts at 0 and not at 17
Energy['Energy Supply'].replace('...', np.nan, inplace=True)
Energy['Country']= Energy['Country'].replace('\d', '', regex=True)

Energy['Country'] = Energy['Country'].replace({"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"})

#Energy['Country'] = Energy['Country'].str.extract('([\w ]+)') #Remove parentheses
Energy['Country'] = Energy['Country'].str.replace(" \(.*\)","",regex=True)
Energy['Energy Supply'] = Energy['Energy Supply']* 1000000
Energy.head()

          Country  Energy Supply Energy Supply per Capita % Renewable
0     Afghanistan   3.210000e+08                       10    78.66928
1         Albania   1.020000e+08                       35         100
2         Algeria   1.959000e+09                       51     0.55101
3  American Samoa            NaN                      ...    0.641026
4         Andorra   9.000000e+06                      121    88.69565

In [ ]:
# GPD DataFrame
GDP = pd.read_csv('world_bank.csv', skiprows=4)
GDP['Country Name'] = GDP['Country Name'].replace({"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"})
GDP.rename(columns={'Country Name': 'Country'}, inplace=True)
cols = ['Country','2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
GDP = GDP[cols]
GDP.head()

,Country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [ ]:
# ScimEn
ScimEn = pd.read_excel('scimagojr-3.xlsx', skipfooter=176)
ScimEn.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

In [ ]:

#df = pd.merge(ScimEn, Energy, how='inner', left_on='Country', right_on='Country')
df_first_merge = pd.merge(ScimEn,Energy,how='inner',left_on='Country',right_on='Country')

df = pd.merge(df_first_merge, GDP, how="inner",left_on='Country',right_on='Country' )
df = df.set_index(df['Country'])
df = df.drop(columns=['Country'])
print('DataFrame shape: ', df.shape)
df.head()

DataFrame shape:  (15, 20)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93,19.75491,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286,11.57098,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149,10.23282,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124,10.60047,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214,17.28868,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12

#Question 3
What are the top 15 countries for average GDP over the last 10 years?
This function should return a Series named avgGDP with 15 countries and their average GDP sorted in descending order.

In [ ]:
rows = ['2006', '2007','2008','2009','2010','2011','2012','2013','2014','2015']


#avgGDP= df.apply(lambda x: np.mean(x[rows]), axis = 1)
#avgGDP.sort_values(ascending=False)

avgGDP = df[['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']].mean(axis = 1).rename('avgGDP').sort_values(ascending= False)
    
avgGDP

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
Name: avgGDP, dtype: float64

#Question 4
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?
This function should return a single number.

In [ ]:
six_df = df[df['Rank'] == 6]
diff = six_df['2015'] - six_df['2006']
print(diff)

Country
Canada    2.281399e+11
dtype: float64

#Question 5
What is the mean energy supply per capita?
This function should return a single number.

In [ ]:
df['Energy Supply per Capita'].mean()

157.6

#Question 6
What country has the maximum % Renewable and what is the percentage?
This function should return a tuple with the name of the country and the percentage.

In [ ]:
max_per = df['% Renewable'].max()

df['% Renewable'] = pd.to_numeric(df['% Renewable'])
country_name = df[['% Renewable']].idxmax()

print(country_name['% Renewable'], max_per)

Brazil 69.64803

#Question 7
Create a new column that is the ratio of Self-Citations to Total Citations. What is the maximum value for this new column, and what country has the highest ratio?
This function should return a tuple with the name of the country and the ratio.

In [ ]:

df['Ratio of Self-Citations']= df['Self-citations']/df['Citations']
max_self_cit = df['Ratio of Self-Citations'].max()
country_name = df[['Ratio of Self-Citations']].idxmax()

print(country_name['Ratio of Self-Citations'], max_self_cit)
df[['Ratio of Self-Citations']]

China 0.6893126179389422

                    Ratio of Self-Citations
Country
China                              0.689313
United States                      0.335031
Japan                              0.275997
United Kingdom                     0.183773
Russian Federation                 0.362517
Canada                             0.190369
Germany                            0.195111
India                              0.288973
France                             0.218943
South Korea                        0.197035
Italy                              0.238364
Spain                              0.194299
Iran                               0.332782
Australia                          0.171939
Brazil                             0.237159

#Question 8
Create a column that estimates the population using Energy Supply and Energy Supply per capita. What is the third most populous country according to this estimate?
This function should return the name of the country

In [ ]:
# Estiamtion of the population based on energy supply
df['Population Energy Supply'] = df['Energy Supply']/df['Energy Supply per Capita']


df['Population Energy Supply'] = pd.to_numeric(df['Population Energy Supply'])
df[['Population Energy Supply']]
country_name = df['Population Energy Supply'].max()
print(country_name)
df.head()
df['Population Energy Supply'].idxmax()
df.rename(columns={'Population Energy Supply':'Estimation of population'}, inplace=True)
df.head()

1367645161.2903225

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2008,2009,2010,2011,2012,2013,2014,2015,Ratio of Self-Citations,Estimation of population
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93,19.75491,...,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,0.689313,1.367645e+09
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286,11.57098,...,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,0.335031,3.176154e+08
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149,10.23282,...,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,0.275997,1.274094e+08
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124,10.60047,...,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,0.183773,6.387097e+07
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214,17.28868,...,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,0.362517,1.435000e+08

#Question 9
Create a column that estimates the number of citable documents per person. What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the .corr() method, (Pearson's correlation).
This function should return a single number.
(Optional: Use the built-in function plot9() to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)

In [ ]:
df['Cit docs per person'] = df['Citable documents']/df['Estimation of population']
# df.head()
# df[['Cit docs per person','Energy Supply per Capita']].corr(method='pearson')
df['Cit docs per person'] = df['Cit docs per person'].astype(float)
df['Energy Supply per Capita'] = df['Energy Supply per Capita'].astype(float)
df['Cit docs per person'].corr(df['Energy Supply per Capita'])

0.7940010435442946

#Question 10
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.
This function should return a series named HighRenew whose index is the country name sorted in ascending order of rank.

In [ ]:

admit_mask = df['% Renewable'] >= df['% Renewable'].median()
print(df['% Renewable'].median())
HighRenew = admit_mask.astype(int)

HighRenew

17.02028

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: % Renewable, dtype: int64

# Question 11
Use the following dictionary to group the Countries by Continent, then create a DataFrame that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`

In [ ]:

ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
df['Continent'] = df.index.to_series().map(ContinentDict)
result = df.set_index('Continent')
# result = result[result['size','sum','mean','std']]

# df["D"] = np.nan
result.head()
result.groupby('Continent')['Estimation of population'].agg({'size':np.size})
#.groupby('Continent')['Estimation of population'].agg({'size':np.size, 'sum':np.sum, 'mean':np.mean, 'std':np.std})
#result.groupby('Continent').agg({'Estimation of population': np.nanmean})
#df.pivot_table(values='score', index='country', columns='Rank_level', aggfunc=[np.mean]).head()

SpecificationError: ignored

#Question 12
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?
This function should return a Series with a MultiIndex of Continent, then the bins for % Renewable. Do not include groups with no countries.